body {
    color: white;
    margin: 0px;
    padding: 0px;
    background: url(https://wallpapercave.com/wp/wp9397099.jpg);
    background-size: cover;
    background-repeat: no repeat;

}

.left {
    /* border: 2px solid red; */
    display: inline-block;
    position: absolute;
    left: 34px;
    top: 20px;
}

.mid {
    border: 5px solid rgb(255, 69, 23);
    border-radius: 93px;
    padding-left: 20px;
    display: block;
    width: 45%;
    margin: 20px auto;
   
   
}

.right {
   
    display: inline-block;
    position: absolute;
    right: 34px;
    top: 20px;
    margin-right: 25px;
}

.navbar {
    display: inline-block;
}

.navbar li {
    display: inline-block;
    column-rule: white;
    font-size: 23px;
}

.navbar li a {
    color: white;
    text-decoration: none;
    padding: 34px 23px;
    font-style: italic;
}

.navbar li a:hover {
    text-decoration: underline;
    color: rgb(245, 76, 61);

}

.left img {

    border-radius: 30px;
    top: -28px;
    left: -34px;
    position: absolute;
    width: 63px;

}
    h2:hover{
        color: red;
    }
h4 {
    
    width: 90px;
    height: 20px;
    position: absolute;
    top: 20px;
    left: -36px;

}
h4:hover{
    color: red;
}

.btn {
    color: white;
    background-color: black;
    padding: 7px 7px;
    border: 2px solid darkgrey;
    border-radius: 8px;
    font-size: 19px;
}

.btn:hover {
    color: rgb(252, 18, 18);
    
    cursor: pointer;
}

#btn1 {
    margin-right: 35px;
}

#btn2 {
    margin-right: 25px;
}

.container {
   
    font-size: 20px;

    position: absolute;
    margin: left;
    left: 200px;
    top: 120px;
    
margin-left: 380px;
    
}

.inbox {
    font-size: 30px;
    border-radius: 15px;
    border: 4px rgb(70, 67, 67);
    font-style: italic;
}
.inbox:hover{
    border: 3px solid rgb(248, 53, 53);
}
.label {
    font-size: 30px;
}
.pt{
font-size: 30px;
}
.gender{
font-size: 30px;
}
.btns{
font-size: 20px;

    position: absolute;
    margin: left;
    left: 220px;
    top: 620px;
    
margin-left: 550px;
}
#btnsr{
position: absolute; left: 190px;
}
#btnss{
position: absolute; left: 60px;
}
.btns:hover{
background-color: black;
color: rgb(242, 45, 45);
}